# Ignoruj katalogi z raportami generowane przez ShadowMap
report_*/
reports/
Htb/

# Ignoruj pliki tymczasowe i cache Pythona
__pycache__/
*.pyc
*.pyo
*.pyd
subdomen_wordlist.txt
dir_wordlist.txt

# Ignoruj pliki środowisk wirtualnych
.venv/
venv/
env/
project_context.txt
BugBounty/
